* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    height: 30px;
}

body {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto; /* Centers the body */
    background-color: #f7f7f7;
}

.container {
    display: flex;
    margin-bottom: 10px;
    height: 500px;
    justify-content: space-between;
}

.graph-container {
    min-height: 300px;
    border: 0.1px solid #eaeaea;
    border-radius: 20px;
    width: 100%; 
    height: 400px;
    background-color: white;
    padding: 10px;
}

#gauges-container {
    width: 40%;
    height: 100%;
    border: 0.1px solid #eaeaea;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

#invoice-gauge {
    height: 40%;
    border-radius: 20px;
}

#invoice-meter {
    min-height: 60%;

}