* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #f7f7f7;
}

.header {
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 0.1px solid rgb(202, 202, 202);
    padding: 0 15px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #e6d6c9;
}

.m-shadow {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
}

.fs-c {
    font-size: clamp(0.9rem, 0.08rem + 0.7vw, 1.2rem) !important;
}

.fs-c1 {
    font-size: clamp(0.85rem, 0.075rem + 0.7vw, 1.1rem) !important;
}

.fs-c2 {
    font-size: clamp(0.80rem, 0.070rem + 0.6vw, 1rem) !important;
}

.fs-t1 {
   font-size: clamp(1.5rem, 0.7rem + 1vw, 1.5rem) !important;
}

.fs-t2 {
    font-size: clamp(1rem, 0.5rem + 1vw, 1rem) !important;
}

.h-49 {
    height: 49%;
}

.h-20 {
    height: 180px;
}

.center {
    width: 96%;
    align-self: center;
}

.round-pill {
    border-radius: 30rem !important;
    background-color: rgb(211, 224, 199);
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px 10px; /* Adjust padding to provide enough space */
    line-height: normal; /* Use normal line-height to avoid cutting off */
    font-size: 1rem; /* Adjust font size as needed */
    border: 1px solid rgb(63, 87, 43);
    font-weight: bold;
}

.pending {
    background-color: rgb(247, 221, 139);
}

.revenue-dashboard {
    height: 130px;
    width: 96%;
}

.dashboard-fit {
    height: 100%;
    width: 96%;
}

#table {
    table-layout: auto;
    width: 100%;
}

#table th, #table td {
    white-space: nowrap;  /* Prevents text wrapping to help with fitting content */
}

.gauges-height {
    height: 300px;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover {
    background-color: #8f8f8f !important;  /* Set background to black */
    color: #ffffff !important;  /* Set text color to white for contrast */
    background-image: none !important;  /* Remove any previous background image */
}

/* Optionally remove background image from any cell */
.datepicker table tr td {
    background-image: none !important;
}

.w-20 {
    width: 200px;
}

.h-5 {
    height: 50px;
}

.datepicker-dropdown {
    padding: 5px;
}