* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    background-color: #f7f7f7;
}

.header {
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 0.1px solid rgb(202, 202, 202);
    padding: 0 15px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #e6d6c9;
}

.m-shadow {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
}

.fs-custom {
    font-size: 0.8rem !important;
}

.fs-custom-1 {
    font-size: 0.75rem !important;
}

.center {
    width: 96%;
    align-self: center;
}

.round-pill {
    border-radius: 30rem !important;
    background-color: rgb(211, 224, 199);
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px 10px; /* Adjust padding to provide enough space */
    line-height: normal; /* Use normal line-height to avoid cutting off */
    font-size: 1rem; /* Adjust font size as needed */
    border: 1px solid rgb(63, 87, 43);
    font-weight: bold;
}

.pending {
    background-color: rgb(247, 221, 139);
}

.revenue-dashboard {
    height: 130px;
}
